{% extends "_layout.html" %}
{% from "_components.html" import paragraph, callout, button, fallback_link, note %}

{% block preheader %}Confirm this address to finish setting up your {{ project_name }} account.{% endblock %}

{% block heading %}Confirm your email address{% endblock %}

{% block content %}
{% call paragraph() %}Welcome to {{ project_name }}. To finish setting up your account, confirm that {{ email }} is your address.{% endcall %}
{% if invite_unusable %}
{% call callout("About your invitation") %}The invitation link you signed up with could not be used. It may have expired, it may already have been used or withdrawn, or it may have been sent to a different address. You have not joined a household: your account has one of its own for now. Confirm this address, then ask the person who invited you to send a new invitation.{% endcall %}
{% endif %}
{{ button(link, "Confirm email address") }}
{{ fallback_link(link) }}
{% call note() %}This link works for {{ expires_in }}. If you did not sign up for {{ project_name }}, you can ignore this email.{% endcall %}
{% endblock %}
