{% extends "_layout.html" %}
{% from "_components.html" import paragraph, button, note %}

{% block preheader %}Your {{ project_name }} account is ready to use.{% endblock %}

{% block heading %}Welcome to {{ project_name }}{% endblock %}

{% block content %}
{% call paragraph() %}An account has been set up for you. Sign in with {{ username }} to start tracking your spending, set budgets and see where the money goes.{% endcall %}
{{ button(link, "Open " ~ project_name) }}
{% call note() %}Do not know your password? Ask the person who set up your account, or reset it from the sign-in page.{% endcall %}
{% endblock %}
