{% extends "_layout.html" %}
{% from "_components.html" import paragraph, button, fallback_link, note %}

{% block preheader %}Choose a new password for your {{ project_name }} account.{% endblock %}

{% block heading %}Reset your password{% endblock %}

{% block content %}
{% call paragraph() %}We received a request to reset the password for {{ email }} on {{ project_name }}. Use the button below to choose a new one.{% endcall %}
{{ button(link, "Choose a new password") }}
{{ fallback_link(link) }}
{% call note() %}This link works for {{ expires_in }}. If you did not ask for a new password, you can ignore this email. Your current password still works.{% endcall %}
{% endblock %}
