{% extends "_layout.html" %}
{% from "_components.html" import paragraph, callout, button, note %}

{% block preheader %}This address already has a {{ project_name }} account, so no new one was made.{% endblock %}

{% block heading %}You already have an account{% endblock %}

{% block content %}
{% call paragraph() %}Someone tried to sign up for {{ project_name }} with {{ email }}. This address already has an account, so we did not make a new one.{% endcall %}
{% call paragraph() %}If it was you, sign in with the password you already have.{% endcall %}
{% if invited %}
{% call callout("Your invitation is still waiting") %}The sign-up came from an invitation to join a household. You have not joined it yet. Sign in first, then open the invitation link again to accept it.{% endcall %}
{% endif %}
{{ button(login_link, "Sign in") }}
{% call note() %}Forgot your password? <a href="{{ reset_link }}" target="_blank" style="color:#6c48ea;">Reset it here</a>.<br>If this was not you, nothing has changed and you can ignore this email.{% endcall %}
{% endblock %}
